.App {
  text-align: center;
}

body {
  font-family: 'Francois One', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Padauk', sans-serif;
  margin: 0;
  height: 100vh;

  /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */

  /* background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%),url(../public/bgcover.jpg); */
  background: linear-gradient(rgba(0,0,0,0.5),#026d62),url(../public/bgcover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

